<div data-bind="if: enabled">
    <div class="oled-container" data-bind="style: { 'background-color': color }">
        <div class="oled-screen" data-bind="style: { 'background-image': 'url(' + img() + ')' }" style="width: {{plugin_StatusOLED_display_width}}px; height: {{plugin_StatusOLED_display_height}}px"></div>
    </div>
</div>